<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/test.css" rel="stylesheet" type="text/css">

    <script src="/controller/boardController.js"></script>
    <script src="/service/boardService.js"></script>
</head>
<body ng-app="app">
</br></br></br>
<div ng-controller="boardController">
    <table class="table table-hover">
        <div style="text-align: right">
            <input type ="text" ng-model="searchText"/>
            <button type="button" class="btn" ng-click="search()">검색</button>
        </div>
        <thead>
        <tr>
            <th scope="col">NO</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">이름</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in boardList">
            <input type="hidden" value={{list.num}}/>
            <td> {{list.ROWNUM }}</td>
            <td>
                <button type="button" id="detail" data-toggle="modal"
                        data-target="#boardDetail" ng-click="selectBoardDetail(list.num)" class="btn btn-link" >
                    {{list.title}}
                </button>
            </td>
            <td>{{list.content}}</td>
            <td>{{list.name}}</td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="boardDetail" tabindex="-1" role="dialog" aria-labelledby="boardDetailTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="boardDetailTitle" >상세보기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="userName" ng-model="detailTitle"/>
                        </div>
                        <div class="form-group">
                            <label for="name">작성자</label>
                            <input type="text" class="form-control" id="userName" ng-model="detailName"/>
                        </div>
                        <div class="form-group">
                            <label for="content">내용</label>
                            <input type="text" class="form-control" id="userName" ng-model="detailContent"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary">수정</button>
                        <button type="button" class="btn btn-danger" ng-model="boardNum" ng-click="modal = deleteBoard(boardNum)" ng-class="">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"  ng-repeat="i in count(totalCount) track by $index">
                <button class="page-link" ng-click="pageNavigation($index+1)">{{$index+1}}</button>
            </li>
            <!--  <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            -->
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <div style="text-align: left">
        <a href="#!boardInsert" class="btn btn-primary">글쓰기</a>
        <a href="#!boardDelete" class="btn btn-danger">삭제</a>
    </div>
</div>
</body>
</html>