<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" >
</head>
<body ng-app="app">
<div>
    <div id="fh5co-work">
        <div class="container">
            <div class="row top-line animate-box">
                <div class="col-md-7 col-md-push-5 text-left intro">
                    <h2>Register Your Patent<span class="fh5co-highlight">Made with <i class="icon-heart2"></i> by YONG</span></h2>
                </div>
                <div>
                    <a class="btn btn-primary" href="#!patentForm">등록하기</a>
                    <!--<button type="button" class="btn btn-primary" ng-click="insertPatent()"> 등록하기 </button>-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-1.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Folding Light</h3>
                                    <span class="cat">Branding</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-2.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Power Led Light</h3>
                                    <span class="cat">Illustration</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-3.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Elephant Origami</h3>
                                    <span class="cat">Logo</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-4.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Electric Kick Scooter</h3>
                                    <span class="cat">Web Design</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-5.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Shark Diver</h3>
                                    <span class="cat">Branding</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-6.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Objekte Unserer Tage Berlin</h3>
                                    <span class="cat">Logo</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-7.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Aloha Shirt</h3>
                                    <span class="cat">Web Design</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-8.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Olafur Elliasson Waterfall Versailles</h3>
                                    <span class="cat">Branding</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a class="work" href="portfolio_detail.html">
                        <div class="work-grid" style="background-image:url(/assets/img/patent/images/project-9.jpg);">
                            <div class="inner">
                                <div class="desc">
                                    <h3>Hand Care</h3>
                                    <span class="cat">Logo</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
