<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/assets/javascript/jquery.js"></script>
    <script src ="/assets/javascript/angular.js"></script>
    <script src="/assets/javascript/angular-route.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

    <script src="app.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/css/angular-confirm.min.css">

    <script src="/assets/javascript/bootstrap.js"></script>
    <script src="/assets/javascript/angular-confirm.js"></script>


    <!-- Controller -->
    <script src="/controller/joinController.js"></script>
    <script src="/controller/loginController.js"></script>
    <!---->

    <!-- Service -->
    <script src="/service/loginService.js"></script>
    <script src="/service/joinService.js"></script>



</head>
<body ng-app="app">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Brother</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="#!login" class="no-uline">로그인</a>
            </form>
        </div>
    </nav>
</header>
<div ng-view></div>
</body>
</html>