<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/test.css" rel="stylesheet" type="text/css">
</head>
<body ng-app ='app'>
<!--<form ng-submit="login()">
    <div class="container">
        로그인
    </div>
    <div class="container">
        <input type="text" class="form-control" placeholder="login">
    </div>
    <div class="container">
        <input type="password" class="form-control" placeholder="password">
    </div>c
    <div class="container">
        <button type="button" class="btn btn-default">로그인</button>
        <button type="button" class="btn btn-default">닫기</button>
    </div>
</form>-->
<div class="logo"></div>
<div class="login-block">
    <h1>Login</h1>
    <input type="email" value="" placeholder="이메일" id="username" />
    <input type="password" value="" placeholder="비밀번호" id="password" />
    <button>Submit</button>
</div>
</body>
</html>