<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/test.css" rel="stylesheet" type="text/css">

    <script src="/controller/joinController.js"></script>
    <script src="/service/joinService.js"></script>
</head>
<body>
<div class="logo"></div>
<div class="login-block" ng-controller="joinController">
    <form ng-submit="join()" >
        <h1>회원가입</h1>
    </form>
</div>
</body>
</html>