<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/test.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="logo"></div>
<div class="login-block" ng-controller="joinController">
    <form ng-submit="join()" >
        <h1>회원가입</h1>
        <input type="text" placeholder="이메일" ng-model="user.userId" />
        <input type="text" placeholder="이름" ng-model="user.userName"/>
        <input type="password" placeholder="비밀번호" ng-model="user.userPw" />
        <input type="password" placeholder="비밀번호 확인" ng-model="user.userPwCheck"/>
        <input type="tel" placeholder="전화 번호" ng-model="user.userTel"/>
        <input type="text" placeholder="주소" ng-model="user.userAd"/>
        <button type="submit">회원가입</button>
        <button type="button" ng-click="cancel()">취소 </button>
    </form>
</div>
</body>
</html>