<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/test.css" rel="stylesheet" type="text/css">

</head>
<body ng-app ='app'>
<div class="logo"></div>
<div class="login-block" ng-controller="LoginController">
    <form ng-submit="loginCheck()" >
        <h1>로그인</h1>
        <input type="email" value="" placeholder="이메일" name="username" ng-model="user.username" />
        <input type="password" value="" placeholder="비밀번호" name="password" ng-model="user.password" />
        <button type="submit">로그인</button>
        <button type="button" ng-click="joinPage()">회원가입</button>

        <p></p>
        <a id ="custom-login-kakao-btn" href="http://localhost:8080/login/kakaoLogin">
            <img src="/assets/img/btn/kakao_login_btn.png" height="40" width="200" style="margin-left: 45px;"/>
        </a>
        <a id ="custom-login-naver-btn" href="#">
            <img src="/assets/img/btn/naver_login_btn.png" height="40" width="200" style="margin-left: 45px;"/>
        </a>
        <div class ="login-block copyRight">
            Copyright © 2018 YongHee Inc. All rights reserved.
        </div>
    </form>
</div>
</body>
</html>